.chatScreen__timestamp {
  text-align: center;
  color: gray;
  padding: 20px;
}

.chatScreen__message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.chatScreen__img {
  margin-right: 10px;
}

.chatScreen__text {
  padding: 13px;
  background-color: lightgray;
  border-radius: 20px;
}

.chatScreen__text--user {
  margin-left: auto;
  color: #fff;
  background-color: #29b3cd;
}

.chatScreen__send-form {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  border-top: 1px solid lightgray;
}

.chatScreen__send-form__input {
  flex: 1;
  padding: 13px;
  border: none;
  font-size: 16px;
}

.chatScreen__send-form__send {
  font-size: 16px;
  border: none;
  background-color: transparent;
  margin-right: 10px;
  font-weight: bold;
  color: #fe3c72;
}
